
<style>

    body{
        background-color: grey;
    }
    </style>
    
    
    <app-header></app-header>
    <br>
    <br>
    <div class="container">
        <div class="container-fluid">
            <h1 style="text-align: center;color: #fad91a;">Conditions d'utilisation et generale de vente</h1>
            <hr style="border: solid 3px orange;">
            <p>Bienvenue sur Aladin
                Aladin est un service fourni par Aladin TECHNOLOGY SARL, société à responsabilité Limité de droit Ivoirien, immatriculée au registre de commerce d'Abidjan CI-DAB-2020-B-796 et dont le siège social est situé à Abidjan. 
                Les termes ci-après « vous » et « utilisateur » désignent toute personne accédant au site Web Aladin.ci. Les termes « fournisseurs de services » désignent les prestataires de services tiers. Les termes autour du pronom personnel « nous » désignent Aladin TECHNOGY SARL, ses franchiseurs, ses affiliés et ses partenaires. Le terme « site » désigne Aladin. 
            </p>
            <br>
            <br>
            <h4>CONDITIONS D'UTILISATION</h4>
            <p>
             Merci de lire ces conditions attentivement avant d'utiliser les 
             Services Aladin. En utilisant les Services Aladin, vous acceptez
              d'être soumis aux présentes conditions. Nous offrons un large panel 
              de Services Aladin et il se peut que des conditions additionnelles 
              s'appliquent. Quand vous utilisez un Service Aladin (par exemple,
               Votre Profil, service graphique ou les Applications Aladin pour mobile),
                vous êtes aussi soumis aux termes, lignes directrices et conditions 
                applicables à ce Service Aladin (« Conditions du Service »).
                 Si ces Conditions d'Utilisation entrent en contradiction avec 
                 ces Conditions du Service, les Conditions du Service prévaudront.
     
            </p>
            <br>
            <h6>1. COMMUNICATIONS ELECTRONIQUES </h6>
            <p>Quand vous utilisez un quelconque Service Aladin ou que vous nous envoyez des courriers électroniques, SMS ou autres communications depuis vos équipements fixes ou mobiles, vous communiquez avec nous électroniquement. Nous communiquerons avec vous électroniquement par divers moyens, tels que par courrier électronique, SMS, des appels, messages de notification dans l'application ou en postant des courriers électroniques ou des communications sur le site internet ou à travers les autres Services Aladin, tels que notre Gestionnaire de communication. A des fins contractuelles, vous acceptez que tous les accords, informations, divulgations et autres communications que nous vous enverrons électroniquement remplissent toutes les obligations légales des communiquer par écrit, à moins qu'une loi impérative spécifique impose un autre mode de communication.</p>
            <br>
            <h6>2. RECOMMANDATIONS ET PERSONNALISATION </h6>
            <p>Dans le cadre des Services Aladin, nous vous recommanderons des fonctionnalités, des produits et des services, comprenant des publicités de tiers, qui sont susceptibles de vous intéresser, nous identifierons vos préférences et nous personnaliserons votre expérience.</p>
            <br>
            <h6>3. PROPRIETE INTELLECTUELLE, DROIT D'AUTEUR, ET PROTECTION DES BASES DE DONNEES </h6>
            <p>Tout le contenu présent ou rendu disponible à travers les Services Aladin, tels que les textes, les graphiques, les logos, les boutons, les images, les téléchargements numériques, et les compilations de données, est la propriété d'Aladin, de ses sociétés affiliées ou de ses fournisseurs de contenu et est protégé par le droit Ivoirien et international de la propriété intellectuelle, d'auteur et de protection des bases de données. La compilation de tout le contenu présent ou rendu disponible à travers les Services Aladin est la propriété exclusive d'Aladin et est protégé par le droit ivoirien et international de la propriété intellectuelle et de protection des bases de données.</p>
            <p>Vous ne devez pas extraire et/ou réutiliser de façon systématique des parties du contenu de tout Service Aladin sans notre autorisation expresse et écrite. En particulier, vous ne devez pas utiliser de robot d'aspiration de données, ou tout autre outil similaire de collecte ou d'extraction de données pour extraire (en une ou plusieurs fois), pour réutiliser une partie substantielle d'un quelconque Service Aladin, sans notre accord express et écrit. Vous ne devez pas non plus créer et/ou publier vos propres bases de données qui comporteraient des parties substantielles (ex : nos prix et nos listes de produits) d'un Service Aladin sans notre accord express et écrit.</p>
            <br>
            <h6>4. MARQUES DEPOSEES </h6>
            <p>Les graphiques, logos, en-têtes de page, boutons, scripts et noms de services inclus ou rendus disponibles à travers un Service Aladin sont des marques ou visuels d'Aladin. Les marques et visuels d'Aladin ne peuvent pas être utilisés pour des produits ou services qui n'appartiennent pas à Aladin, ou d'une quelconque manière qui pourrait provoquer une confusion parmi les clients, ou d'une quelconque manière qui dénigre ou discrédite Aladin. Toutes les autres marques qui n'appartiennent pas à Aladin et qui apparaissent sur un quelconque Service Aladin sont la propriété de leurs propriétaires respectifs, qui peuvent, ou non, être affiliés, liés ou parrainés par Aladin. </p>
            <br>
            <h6>5. BREVETS </h6>
            <p>
            Un ou plusieurs brevets détenus par Aladin s'appliquent aux Services Aladin,
            à ce site internet et aux fonctionnalités et services accessibles via
             le site internet et les Services Aladin. Des parties de ce site internet 
             fonctionnent sous licences d'un ou plusieurs brevets.  
    
            </p>
            <br>
            <h6>6. LICENCE ET ACCES </h6>
            <p>Sous réserve du respect des présentes Conditions d'Utilisation et des Conditions des Services et du paiement de toutes les sommes applicables, Aladin ou ses fournisseurs de contenu vous accorde une licence limitée, non exclusive, non transférable, non sous licenciable pour l'accès et à l'utilisation personnelle et non commerciale des Services Aladin. Cette licence n'inclut aucun droit d'utilisation d'un Service Aladin ou de son contenu pour la vente ou tout autre utilisation commerciale ; de collecte et d'utilisation d'un listing produit, descriptions, ou prix de produits; de toute utilisation dérivée d'un Service Aladin ou de son contenu ; de tout téléchargement ou copie des informations d'un compte pour un autre commerçant ; ou de toute utilisation de robot d'aspiration de données, ou autre outil similaire de collecte ou d'extraction de données. </p>
            <p>Tous les droits qui ne vous ont pas été expressément accordés dans ces Conditions d'Utilisation ou dans les Conditions d'un Service sont réservés et restent à Aladin ou à ses licenciés, fournisseurs, éditeurs, titulaires de droits, ou tout autre fournisseur de contenu. Aucun Service Aladin ou tout ou partie de celui-ci ne doit être reproduit, copié, vendu, revendu, visité ou exploité pour des raisons commerciales sans notre autorisation expresse et écrite.</p>
            <p>Vous ne devez pas cadrer ou utiliser des techniques de cadrage (framing) pour insérer toute marque, logo ou autre information commerciale (y compris des images, textes, mises en pages ou formes) d'Aladin sans notre autorisation expresse et écrite. Vous ne devez pas utiliser de méta tags ou tout autre « texte caché » utilisant le nom ou les marques déposées d'Aladin sans notre autorisation expresse et écrite.</p>
            <p>Vous devez utiliser les Services Aladin comme autorisé par la loi. Les licences accordées par Aladin prendront fin si vous ne respectez pas ces Conditions d'Utilisation ou les Conditions des Services.</p>
            <br>
            <h6>7. VOTRE COMPTE </h6>
            <p>Vous pouvez avoir besoin d'un compte personnel Aladin pour utiliser certain Services (par exemple faire une commande de carte de visite), et il peut vous être demandé de vous connecter au compte et d'avoir une méthode de paiement valide associée à celui-ci. En cas de problème pour utiliser la méthode de paiement que vous avez sélectionnée, nous pourrons utiliser toute autre méthode de paiement valide associée à votre compte. Cliquez ici pour gérer vos options de paiement.</p>
            <p>Si vous utilisez un quelconque Service Aladin, vous êtes responsable du maintien de la confidentialité de votre compte et mot de passe, des restrictions d'accès à votre ordinateur et autres équipements, et dans la limite de ce qui est autorisé par la loi applicable, vous acceptez d'être responsable de toutes les activités qui ont été menées depuis de votre compte ou avec votre mot de passe. Vous devez prendre toutes les mesures nécessaires pour vous assurer que votre mot de passe reste confidentiel et sécurisé, et devez nous informer immédiatement si vous avez des raisons de croire que votre mot de passe est connu de quelqu'un d'autre, ou si le mot de passe est utilisé ou susceptible d'être utilisé de manière non autorisée. Vous êtes responsable de la validité et du caractère complets des informations que vous nous avez fournies, et devez nous informer de tout changement concernant ces informations. Vous pouvez accéder à vos informations dans la section Votre compte du site internet. Veuillez consulter nos pages d'aide relatives à la Protection de vos informations personnelles pour accéder à vos informations personnelles.</p>
            <p>Si vous utilisez un quelconque Service Aladin, vous êtes responsable du maintien de la confidentialité de votre compte et mot de passe, des restrictions d'accès à votre ordinateur et autres équipements, et dans la limite de ce qui est autorisé par la loi applicable, vous acceptez d'être responsable de toutes les activités qui ont été menées depuis de votre compte ou avec votre mot de passe. Vous devez prendre toutes les mesures nécessaires pour vous assurer que votre mot de passe reste confidentiel et sécurisé, et devez nous informer immédiatement si vous avez des raisons de croire que votre mot de passe est connu de quelqu'un d'autre, ou si le mot de passe est utilisé ou susceptible d'être utilisé de manière non autorisée. Vous êtes responsable de la validité et du caractère complets des informations que vous nous avez fournies, et devez nous informer de tout changement concernant ces informations. Vous pouvez accéder à vos informations dans la section Votre compte du site internet. Veuillez consulter nos pages d'aide relatives à la Protection de vos informations personnelles pour accéder à vos informations personnelles.</p>
            <p>Nous nous réservons le droit de refuser l'accès, de fermer un compte, de retirer ou de modifier du contenu si vous êtes en violation des lois applicables, de ces Conditions d'utilisation ou tous autres termes, conditions, lignes directrices ou politique d'Aladin.</p>
            <br>
            <h6>8. COMMENTAIRES, CRITIQUES, COMMUNICATIONS ET AUTRE CONTENU </h6>
            <p>Les visiteurs peuvent mettre en ligne des revues, des commentaires ou tout autre contenu ; envoyer des cartes électroniques ou autres communications, et soumettre des suggestions, des idées, des questions ou toute autre information tant que ce contenu n'est pas illégal, haineux, obscène, abusif, menaçant, diffamatoire, calomnieux, contrevenant aux droits de propriété intellectuelle, ou préjudiciable à des tiers ou répréhensible et ne consiste pas ou ne contient pas de virus informatiques, de militantisme politique, de sollicitations commerciales, de chaînes de courriers électroniques, de mailing de masse ou toute autre forme de « spam ». Vous ne devez pas utiliser une fausse adresse e-mail, usurper l'identité d'une personne ou d'une entité, ni mentir sur l'origine d'une carte de crédit ou d'un contenu. Nous nous réservons le droit (sans aucune obligation en l'absence d'un Formulaire de Notification valide), de retirer ou de modifier tout contenu. Si vous pensez qu'un contenu ou une annonce de vente sur un quelconque Service <strong>Aladin </strong> contient un message diffamatoire, ou que vos droits de propriété intellectuelle ont été enfreints par un article ou une information sur le site internet, merci de nous le notifier en complétant le Formulaire de Notification adéquat, et nous y répondrons. </p>
            <p>Si vous publiez des commentaires clients, , des questions / réponses ou tout autre contenu généré par vous pour être publié sur le site internet (incluant toute image, vidéo ou enregistrement audio, ensemble le « contenu ») , vous accordez à <strong>Aladin</strong>, une licence non-exclusive et gratuite pour utiliser, reproduire, , publier, rendre disponible, traduire et modifier ce contenu dans le monde entier(incluant le droit de sous-licencier ces droits à des tiers); et  le droit d'utiliser le nom que vous avez utilisé en lien avec ce contenu. Aucuns droits moraux ne sont transférés par l'effet de cette clause.</p>
            <p>Vous pouvez supprimer votre contenu de la vue du public ou, lorsque cette fonctionnalité est offerte, modifier les paramètres pour qu'il ne soit visible que par les personnes auxquelles vous en avez donné l'accès. Vous déclarez et garantissez être propriétaire ou avoir les droits nécessaires sur le contenu que vous publiez ; que, à la date de publication du contenu ou du matériel :  le contenu et le matériel est exact, l'utilisation du contenu et du matériel que vous avez fourni ne contrevient pas à l'une des procédures ou lignes directrices d'<strong>Aladin</strong> et ne portera pas atteinte à toute personne physique ou morale (notamment que le contenu ou le matériel ne sont pas diffamatoires). Vous acceptez d'indemniser <strong>Aladin</strong> en cas d'action d'un tiers contre <strong>Aladin</strong> en lien avec le contenu ou le matériel que vous avez fourni, sauf dans le cas où l'éventuelle responsabilité d'Aladin pourrait être recherchée pour ne pas avoir retiré un contenu dont le caractère illicite lui aurait été notifié (Formulaire de Notification), dès lors que cette action aurait pour cause, fondement ou origine le contenu que vous nous avez communiqué.</p>
           <br>
           <h6>9. REVENDICATIONS DE PROPRIETE INTELLECTUELLE </h6>
           
            <p>Aladin respecte la propriété intellectuelle d'autrui. Si vous pensez qu'un de vos droits de propriété intellectuelle a été utilisé d'une manière qui puisse faire naitre une crainte de violation desdits droits, merci de nous notifier cela.</p>
            <br>
            <h6>10. ROLE D'ALADIN </h6>
            <p>Aladin permet à des imprimeries et maisons d’édition tierce de lister et de vendre leurs produits sur la plateforme Aladin(site web:<a href="#">www.aladin.ci</a> et l'application) Dans chacun de ces cas, ceci est indiqué sur la page respective de détail du produit. Bien qu'Aladin, en tant qu'hébergeur, facilite les transactions réalisées sur la place de marché (ou Marketplace) d'Aladin, Aladin n'est ni l'acheteur ni le vendeur des produits des imprimeries tierces. Aladin fournit un lieu de rencontre dans lequel les acheteurs et vendeurs complètent et finalisent leurs transactions. En conséquence, pour la vente de ces produits de vendeurs tiers, un contrat de vente est formé uniquement entre l'acheteur et le vendeur tiers. Aladin n'est pas partie à un tel contrat et n'assume aucune responsabilité ayant pour origine un tel contrat ou découlant de ce contrat de vente. Aladin n'est ni l'agent ni le mandataire des vendeurs tiers. L’imprimerie tierce est responsable des ventes de produits et des réclamations ou tout autre problème survenant ou lié au contrat de vente entre lui et l'acheteur. Parce qu'Aladin souhaite que l'acheteur bénéficie d'une expérience d'achat la plus sûre, Aladin offre la Garantie d’A à Z en plus de tout droit contractuel ou autre.</p>
            <br>
            <h6>11. NOTRE RESPONSABILITE </h6>
            <p>Nous ferons de notre mieux pour assurer la disponibilité des Services Aladin et que les transmissions se feront sans erreurs. Toutefois, du fait de la nature d'internet, ceci ne peut être garanti. De plus, votre accès aux Services Aladin peut occasionnellement être suspendu ou limité pour permettre des réparations, la maintenance, ou ajouter une nouvelle fonctionnalité ou un nouveau service. Nous nous efforcerons de limiter la fréquence et la durée de ces suspensions ou limitations.</p>
            <p>Dans le cadre de ses relations avec des professionnels, Aladin n'est pas responsable des pertes qui n'ont pas été causées par une faute de notre part, ou des pertes commerciales (y compris les pertes de profit, bénéfice, contrats, économies espérées, données, clientèle ou dépenses superflues), ou toute perte indirecte ou consécutive qui n'étaient pas prévisibles par vous et nous quand vous avez commencé à utiliser le Service Aladin.</p>
            <p>Nous ne serons pas tenus pour responsables des délais ou de votre impossibilité à respecter vos obligations en application de ces conditions si le délai ou l'impossibilité résulte d'une cause en dehors de notre contrôle raisonnable. Cette condition n'affecte pas votre droit légal de recevoir les produits envoyés et les services fournis dans un temps raisonnable ou de recevoir un remboursement si les produits ou les services commandés ne peuvent être délivrés dans un délai raisonnable en raison d'une cause hors de notre contrôle raisonnable</p>
            <p>Les lois de certains pays ne permettent pas certaines des limitations énumérées ci-dessus. Si ces lois vous sont applicables, tout ou partie de ces limitations ne vous sont pas applicables, et vous pouvez disposer de droits supplémentaires.</p>
            <p>Rien dans ces conditions ne vise à limiter ou n'exclure notre responsabilité en cas de dol, ou en cas de décès ou de préjudice corporel causé(e) par notre négligence ou une faute lourde.</p>
            <br>
            <h6>12. DROIT APPLICABLE</h6>
            <p>Les présentes Conditions d'utilisation sont soumises au droit Ivoirien. Vous, comme nous, acceptons de soumettre tous les litiges occasionnés par la relation commerciale existant entre vous et nous à la compétence non exclusive des juridictions de la ville d’Abidjan (tribunal de commerce d’Abidjan), ce qui signifie que pour l'application des présentes Conditions d'utilisation, vous pouvez intenter une action pour faire valoir vos droits de consommateur, en COTE D’IVOIRE. </p>
            <br>
            <h6>13. MODIFICATION DU SERVICE OU DES CONDITIONS D'UTILISATION </h6>
            
            <p>Nous nous réservons le droit de faire des modifications sur tout Service Aladin, à nos procédures, à nos termes et conditions, y compris les présentes Conditions d'utilisation à tout moment. Vous êtes soumis aux termes et conditions, procédures et Conditions d'utilisation en vigueur au moment où vous utilisez le Service Aladin. Si une stipulation de ces Conditions d'utilisation est réputée non valide, nulle, ou inapplicable, quelle qu'en soit la raison, cette stipulation sera réputée divisible et n'affectera pas la validité et l'opposabilité des stipulations restantes.</p>
           <br>
           <h6>14. RENONCIATION </h6>
            <p>Si vous enfreignez ces Conditions d'utilisation et que nous ne prenons aucune action, nous serions toujours en droit d'utiliser nos droits et voies de recours dans toutes les autres situations où vous violeriez ces Conditions d'utilisation.</p>
            <br>
            <h6>15. NOS COORDONNEES </h6>
            <p>Le site internet(<a href="#">www.aladin.ci</a> ) et application Aladin appartiennent à, et sa maintenance est effectuée par, Aladin TECHNOLOGY SARL. Des conditions spécifiques d'utilisation et de vente pour d'autres Services Aladin, peuvent être trouvées sur le site internet.</p>
            <p>ALADIN TECHNOLOGY SARL, Société à responsabilité limitée, Abidjan 21 BP 1161 ABIDJAN 21 Capital : 5.000.000 FCFA siège social : Abidjan 
                Registre de Commerce N° :CI-DAB-2020-B-796
                N° Compte Contribuable :2048566 E
                </p>
            <br>
            <h6>16. PROCEDURE ET FORMULAIRE DE NOTIFICATION DE VIOLATION DE DROITS </h6>
            <p>Si vous pensez que vos droits ont été violés, vous pouvez remplir le Formulaire de Notification. Nous répondons promptement aux titulaires de droits et à leurs représentants qui complètent le Formulaire de Notification pour nous informer de toute violation alléguée.</p>
            <p>Dès réception d'un Formulaire de Notification, nous pouvons prendre les mesures adéquates, y compris le retrait de toute information ou d'un article. Ces mesures seront toutefois prises sous toutes réserves, sans reconnaissance de notre part d'une responsabilité quelconque et sans préjudice de l'exercice de nos droits, actions et moyens de défense. De plus, en soumettant un Formulaire de Notification, vous accordez à Aladin le droit d'utiliser, de reproduire, de modifier, d'adapter, de publier, de traduire, de créer des œuvres dérivées, et divulguer son contenu par tout moyen de communication, partout dans le monde. Ceci comprend également le transfert de ce formulaire aux parties concernées par l'infraction alléguée. Vous acceptez d'indemniser Aladin contre toute réclamation de tiers contre Aladin, découlant de, ou dans le cadre de cette notification.</p>
            <p>Avertissement important : fournir des informations inexactes, trompeuses ou fausses dans un Formulaire de Notification adressé à Aladin engage sa responsabilité civile et/ou pénale. En cas de doute, veuillez contacter un conseiller juridique.</p>
            <br>
            <h6>17. PROCEDURE ET FORMULAIRE DE NOTIFICATION EN VUE DE NOTIFIER UN CONTENU INJURIEUX OU DIFFAMATOIRE </h6>
            <p>Parce que des milliers de produits sont listés et que des milliers de commentaires sont hébergés sur Aladin, il ne nous est pas possible de connaître le contenu de tous les produits offerts à la vente, ou de tous les commentaires ou critiques qui sont affichés. En conséquence, nous opérons sous un système de « notifier et action ». Si vous pensez qu'un contenu ou une annonce de vente sur le site internet contient un message diffamatoire, merci de nous le notifier immédiatement en complétant la Procédure et le Formulaire de notification en vue de notifier un contenu injurieux ou diffamatoire. Suivez les instructions dans le formulaire de Notification.</p>
            <p>Avertissement important : fournir des informations inexactes, trompeuses ou fausses dans la Notification adressée à Aladin peut engager votre responsabilité civile et/ou pénale.
                Lien du formulaire. ….
                </p>
            <br>
            <br>
            <h4>CONDITIONS ADDITIONNELLES DES LOGICIELS ALADIN</h4>
            <br>
            <h6>1. Utilisation des Logiciels Aladin. </h6>
            <p>Vous pouvez utiliser les Logiciels Aladin aux seules fins de vous permettre d'utiliser et de profiter des Services Aladin tels que fournis par Aladin, et tels qu'autorisé par les Conditions d'utilisation, des présentes Conditions Logiciel Aladin, et des Conditions des Services. Il est interdit d'intégrer tout ou partie d'un Logiciel Aladin dans vos propres programmes, de compiler tout ou partie d'un Logiciel Aladin avec vos propres programmes, de transférer tout ou partie d'un Logiciel Aladin pour l'utiliser avec un autre service ou de vendre, louer, prêter, distribuer ou sous-licencier tout ou partie d'un Logiciel Aladin ou transférer un quelconque droit sur tout ou partie de ce Logiciel Aladin. Vous ne pouvez utiliser les Logiciels Aladin à des fins illégales. Nous nous réservons le droit de mettre fin à toute utilisation d'un Logiciel Aladin et de vous retirer les droits d'utilisation d'un Logiciel Aladin à tout moment. Si vous ne respectez pas les présentes Conditions Logiciel Aladin, les Conditions d'utilisation et toutes Conditions des Services Aladin, les droits d'utilisation d'un Logiciel Aladin qui vous sont accordés vous seront automatiquement retirés sans notification préalable. Des conditions supplémentaires définies par des tiers et contenues ou distribuées avec certains Logiciels Aladin et spécifiquement identifiées dans la documentation connexe peuvent être applicables à ces Logiciels Aladin (ou logiciels intégrés dans un Logiciel Aladin) et prévaudront en cas de conflit avec les présentes Conditions d'utilisation. Tout logiciel utilisé dans un quelconque Service Aladin est la propriété d'Aladin ou de ses fournisseurs de logiciels et est protégé par les lois Ivoiriennes et internationales sur la protection des programmes d'ordinateur et du copyright.</p>
            <br>
            <h6>2. Utilisation de services tiers. </h6>
            <p>Lorsque vous utilisez un Logiciel Aladin, vous pouvez également être amené à utiliser les services d'un ou plusieurs tiers, tels que ceux d'un opérateur mobile ou d'un fournisseur de plateforme mobile. L'utilisation de ces services tiers peut être soumise aux politiques, conditions d'utilisation et à des frais de ces tiers.</p>
            <br>
            <h6>3. Interdiction d'ingénierie inverse. </h6>
            <p>Vous ne pouvez et vous n'encouragerez pas, ni n'assisterez ou n'autoriserez qui que ce soit à copier, modifier, altérer d'une autre façon un Logiciel Aladin en tout ou partie, créer des œuvres dérivées à partir ou du Logiciel Aladin ou effectuer de l'ingénierie inverse, décompiler ou désassembler un Logiciel Aladin en tout ou partie, sauf dans les limites autorisées par la loi. </p>
            <br>
            <h6>4. Mises à jour. </h6>
            <p>Afin de garder les Logiciels Aladin à jour, nous pouvons offrir des mises à jour automatiques ou manuelles à tout moment et sans notification préalable. </p>
            <br>
            <br>
            <h4>CONDITIONS GENERALES DE VENTE</h4>
            <p>Bienvenue sur Aladin</p>
            <br>
            <p>Aladin TECHNOLOGY SARL et/ou ses sociétés affiliée<strong> (« Aladin ») </strong>vous fournissent des fonctionnalités de site internet et d'autres produits et services quand vous visitez ou achetez sur le site internet www.aladin.ci (le « Site Internet »), utilisez des produits et services d'Aladin, utiliser des applications Aladin pour mobile, ou utiliser des logiciels fournis par Aladin dans le cadre de tout ce qui précède (ensemble ci-après, les « Services Aladin »). Aladin fournit les Services Aladin selon les conditions définies dans cette page.</p>
            <p>Ces Conditions Générales de Vente régissent la vente de produits entre Aladin et vous. Nous offrons un large panel de Services Aladin et il se peut que des conditions additionnelles s'appliquent. Par ailleurs, lorsque vous utilisez un Service Aladin (par exemple votre Profil, les Chèques-Cadeaux, les applications pour mobile ou le Gestionnaire de communication), vous êtes également soumis aux termes, lignes directrices et conditions applicables à ce Service Aladin (les « Conditions du Service »). Si ces Conditions Générales de Ventes entrent en contradiction avec les Conditions du Service, les Conditions du Service prévaudront.</p>
            <p>Merci de lire ces conditions attentivement avant d'effectuer une commande avec Aladin. En commandant avec Aladin, vous nous notifiez votre accord d'être soumis aux présentes conditions.</p>
            <br>
            <h6>1. COMMENT COMMANDER </h6>
            <p>Si vous souhaitez acheter un ou plusieurs produit(s) figurant sur le Site Internet, vous devez sélectionner chaque produit que vous souhaitez acheter et l'ajouter à votre panier. Lorsque vous avez sélectionné tous les produits que vous voulez acheter, vous pouvez confirmer le contenu de votre panier et passer la commande.</p>
            <p>A ce stade, vous serez redirigé vers une page récapitulant les détails des produits que vous avez sélectionnés, leur prix et les options de livraisons (avec les frais de livraison concernés). Vous devrez alors choisir les options de livraison ainsi que les méthodes d'envoi et de paiement qui vous conviennent le mieux.</p>
            <p>En haut de cette page, se situe le bouton d'achat. Vous devez cliquer sur ce bouton pour confirmer et passer votre commande</p>
            <p>Après avoir passé votre commande, nous vous adressons un message de confirmation. Un conseiller client vous contactera également pour la confirmation de votre commande. </p>
            <p>Vous acceptez d'obtenir les factures de vos achats par voie électronique. Les factures électroniques seront mises à votre disposition au format .PDF dans l'espace <a href="#">Votre compte</a> sur notre Site Internet. Pour chaque livraison, nous vous indiquerons dans le message de confirmation d'envoi si une facture électronique est disponible. </p>
            <br>
            <h6>2. DROIT DE RETENTION </h6>
            <p>Les produits restent la propriété d’Aladin jusqu’à leur remise au client</p>
            <br>
            <h6>3. DROIT DE RETRACTATION DE 7 JOURS, EXCEPTIONS AU DROIT DE RETRACTATION, NOTRE POLITIQUE DE RETOURS SOUS 30 JOURS </h6>
            <h6>DROIT LEGAL DE RETRACTATION (à revoir)</h6>
            <p>En application de l'article L. 121-20 du Code de la Consommation, le client, qui a la qualité de consommateur, dispose d'un droit de rétractation de 7 jours à compter de la réception des produits, sans avoir à justifier de motifs ni à payer de pénalités, à l'exception des frais de retour. Si ce délai expire normalement un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant. </p>
            <p>En application de l'article L. 121-20 du Code de la Consommation, le client, qui a la qualité de consommateur, dispose d'un droit de rétractation de 7 jours à compter de la réception des produits, sans avoir à justifier de motifs ni à payer de pénalités, à l'exception des frais de retour. Si ce délai expire normalement un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant. </p>
            <p><a href="#"></a></p>
            <p><a href="#"> www.aladin.ci</a></p>
            <p>Pour lesdits produits, le client ayant la qualité de consommateur peut exercer le droit de rétractation prévu à l'article L. 121-20 du Code de la Consommation dans un délai de 7 jours à compter de la réception des produits en envoyant une lettre recommandée avec accusé de réception à l'adresse suivante : 21 BP 1161 ABIDJAN 21
    
                en mentionnant son nom, prénom et adresse, le numéro de la commande et en déclarant agir en qualité de consommateur, et à condition de renvoyer à ses frais les produits dans leur emballage d'origine, en parfait état et accompagnés, le cas échéant, de tous accessoires. 
                
                Lorsque le droit de rétractation est exercé par le client dans les conditions précisées ci-dessus, Aladin remboursera sans délai et au plus tard dans les trente jours suivant la date à laquelle ce droit à été exercé, les sommes payées par le client pour l'achat des produits retournés, à l'exception des frais de livraison.
            </p>
            <br>
            <h6>4. PRIX ET DISPONIBILITE </h6>
            <p>Tous les prix sont toutes taxes comprises sauf indication contraire.
                Nous affichons la disponibilité des produits que nous vendons sur le Site Internet sur chaque fiche produit. Nous ne pouvons apporter plus de précision concernant la disponibilité des produits que ce qui est indiqué sur ladite page ou ailleurs sur le Site Internet. Lors du traitement de votre commande, nous vous informerons dès que possible par courrier électronique en utilisant l'adresse associée à votre abonnement ou via le Gestionnaire de communication dans Votre compte, si des produits que vous avez commandés s'avèrent être indisponibles, et nous ne vous facturerons pas ces produits.
                </p>
            <p>En dépit de tous nos efforts, un petit nombre des produits présents dans notre catalogue peuvent afficher une erreur sur le prix. Nous vérifierons le prix au moment du traitement de votre commande et avant tout paiement. S'il s'avérait que nous avons fait une erreur sur l'affichage du prix, et que le prix réel est supérieur au prix affiché sur le Site Internet, nous pouvons vous contacter pour vous demander si vous souhaitez acheter le produit à son prix réel ou si vous préférez annuler votre commande. Si le prix réel est inférieur au prix affiché, nous vous facturerons le montant le plus bas et nous vous enverrons le produit.</p>
            <br>
            <h6>5. DOUANES </h6>
            <p>Lorsque vous commandez des produits sur Aladin pour être livrés en dehors de la COTE D’IVOIRE, vous pouvez être soumis à des obligations et des taxes sur l'importation, qui sont perçues lorsque le colis arrive à destination. Tout frais supplémentaire de dédouanement sera à votre charge ; nous n'avons aucun contrôle sur ces frais. Les politiques douanières varient fortement d'un pays à l'autre, vous devez donc contacter le service local des douanes pour plus d'informations. Par ailleurs, veuillez noter que lorsque vous passez commande sur Aladin, vous êtes considéré comme l'importateur officiel et devez respecter toutes les lois et règlements du pays dans lequel vous recevez les produits. La protection de votre vie privée est importante pour nous et nous attirons l'attention de nos clients internationaux sur le fait que les livraisons transfrontalières sont susceptibles d'être ouvertes et inspectées par les autorités douanières</p>
            <br>
            <h6>6. NOTRE RESPONSABILITE - GARANTIES </h6>
            <p>Nous nous engageons à apporter tous les soins en usage dans la profession pour la mise en œuvre du service offert au client. Néanmoins, notre responsabilité ne pourra pas être retenue en cas de retard ou de manquement à nos obligations contractuelles si le retard ou manquement est dû à une cause en dehors de notre contrôle : cas fortuit ou cas de force majeure tel que défini par la loi applicable.</p>
            <p>Notre responsabilité ne sera pas engagée en cas de retard dû à une rupture de stock chez l'éditeur ou chez le fournisseur. En outre, notre responsabilité ne sera pas engagée en cas de différences mineures entre les photos de présentation des articles et les textes affichés sur le Site Internet www.aladin.ci, et les produits livrés.</p>
            <p>Nous mettons en œuvre tous les moyens dont nous disposons pour assurer les prestations objets des présentes Conditions Générales de Vente. Nous sommes responsables de tout dommage direct et prévisible au moment de l'utilisation du Site Internet ou de la conclusion du contrat de vente entre nous et vous. Dans le cadre de nos relations avec des professionnels, nous n'encourrons aucune responsabilité pour les pertes de bénéfices, pertes commerciales, pertes de données ou manque à gagner ou tout autre dommage indirect ou qui n'était pas prévisible au moment de l'utilisation du Site Internet ou de la conclusion du contrat de vente entre nous et vous.</p>
            <p>La limitation de responsabilité visée ci-dessus est inapplicable en cas de dol ou de faute lourde de notre part, en cas de dommages corporels ou de responsabilité du fait des produits défectueux, en cas d éviction et en cas de non-conformité (y compris en raison de vices cachés)./p>
                <br>
                <h6>7. DROIT APPLICABLE </h6>
                <p>Les présentes Conditions d'utilisation sont soumises au droit Ivoirien. Vous, comme nous, acceptons de soumettre tous les litiges occasionnés par la relation commerciale existant entre vous et nous à la compétence non exclusive des juridictions du tribunal de commerce d’Abidjan, ce qui signifie que pour l'application des présentes Conditions Générales de Vente, vous pouvez intenter une action pour faire valoir vos droits de consommateur, en COTE D’IVOIRE.</p>
              <br>
              <h6>8. MODIFICATION DU SERVICE OU DES CONDITIONS GENERALES DE VENTE </h6>  
                <p>Nous nous réservons le droit de faire des changements à notre Site Internet et application mobile, nos procédures, et à nos termes et conditions, y compris les présentes Conditions Générales de Vente à tout moment. Vous êtes soumis aux termes et conditions, procédures et Conditions Générales de Vente en vigueur au moment où vous nous commandez un produit, sauf si un changement à ces termes et conditions, ou les présentes Conditions Générales de Vente est exigé par une autorité administrative ou gouvernementale (dans ce cas, cette modification peut s'appliquer aux commandes antérieures que vous avez effectuées). Si l'une des stipulations de ces Conditions Générales de Vente est réputée non valide, nulle ou inapplicable, quelle qu'en soit la raison, cette stipulation sera réputée divisible et n'affectera pas la validité et l'effectivité des stipulations restantes.</p>
                <br>
                <h6>9. RENONCIATION </h6>
                <p>Si vous enfreignez ces Conditions Générales de Vente et que nous ne prenons aucune action, nous serions toujours en droit d'utiliser nos droits et voies de recours dans toutes les autres situations où vous violeriez ces Conditions Générale de Vente.</p>
                <br>
                <h6>10. MINEURS </h6>
                <p>Nous ne vendons pas de produits aux mineurs. Nous vendons des produits pour enfants pour des achats par des adultes. Si vous avez moins de 13 ans, vous ne pouvez utiliser le Site Internet <a href="#"> www.aladin.ci </a>que sous la surveillance d'un parent ou d'un tuteur.</p>
                <br>
                <h6>11. IDENTIFICATION </h6>  
                <p>Aladin est une marque commerciale utilisée par Aladin TECHNOLOGY SARL (société à responsabilité limité). Nos informations de contact sont les suivantes :</p>
                <p>Aladin, Société à responsabilité limitée, adresse : 21 BP 1161 ABIDJAN 21 Capital social : 5.000.000
                    Numéro Registre de commerce : CI-DAB-2020-B-796
                    Numéro de Compte contribuable : 2048566 E 
                </p>
                
        
        </div>
    
    
    </div>
    <app-footer></app-footer>