
<div class="container" id="checkout">
  
  <div class="py-5 text-center">
    <h2>Formulaire de paiement</h2>
  </div>
  <div class="row">
    <div class="col-md-8 order-md-2 mb-4">
   
        <app-cartitems (mymoney)="getTotal($event)" [showbtn]="hidebtn"></app-cartitems>
    </div>
    <div class="col-md-4 order-md-1" style="float: left;">
      <h4 class="mb-3">Adresse de facturation</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nom et prénoms</label>
            <input type="text" class="form-control" id="firstName" name="firname" required [(ngModel)]="data.name">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="data.email" required>
            <div class="invalid-feedback">
              Please enter a valide email adresse.
            </div>
          </div>
    
        </div>

        <div class="mb-3">
          <label for="number">Téléphone</label>
          <input type="tel" class="form-control" id="number" name="phone" [(ngModel)]="data.phone" required>
        
        </div> 
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="dlt">Commune</label>
              <select class="custom-select d-block w-100" id="dlt" name="country" required (change)="ChangeHandler($event)" aria-required="true" required >
              <option value="choix de commune" selected>Choix de commune</option>
              <option *ngFor="let item of tab" [value]="item">{{item}}</option>
              </select>
         
            <input type="text" name="city" id="city" class="form-control" [(ngModel)]="city" placeholder="example: Bouaké" required *ngIf="isother">

          </div>
         
        </div>
        <div class="mb-3">
          <label for="address">Adresse de Livraison</label>
         <input type="text" name="adl" id="adl" class="form-control" [(ngModel)]="address" placeholder="example: Abidjan yopougon ananerai antenne" required>
         
        </div>
       

        <hr class="mb-4">
        <h4>
         Facture
        </h4>
      
        <div class="row">
          <span>
            Sous total: {{total}} XOF

          </span>
          <span>
            frais de Livraison: {{delivery_cost}} XOF
          </span>
          <span>
            Montant total à payer: <strong style="color: black; font-weight: bold; font-family: 'Times New Roman', Times, serif;">{{t}} XOF</strong> 

          </span>

         </div> 


         <div class="row">
           <h4>
             Date de Livraison
           </h4>
         <h5 style="color: red; font-family: Georgia, 'Times New Roman', Times, serif;">Votre commande sera livrée dans l'intervalle</h5>
         <p style="text-align: justify;margin-left: 20%;">du</p>
         <span lang="fr"> {{date}}</span> 
                <p style="text-align: justify; margin-left: 20%;">au</p> 
         <span>
          {{today}}
        </span>
         </div>
        <hr>

        <h4 class="mb-3">Mode Paiement</h4>

        <div class="d-block my-3">
        
          
          <div class="row">
           

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="momo"  >
              <label class="form-check-label" for="momo"><img src="/assets/images/momologo.png" alt="" width="100" height="50"></label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="orangemoney" disabled >
              <label class="form-check-label" for="orangemoney"><img src="/assets/images/omoney.jpg" alt="" width="100" height="50"></label>
            </div>

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="orangemoney" disabled >
              <label class="form-check-label" for="orangemoney"><img src="/assets/images/moov.png" alt="" width="100" height="50"></label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="orangemoney" disabled >
              <label class="form-check-label" for="orangemoney"><img src="/assets/images/visa.png" alt="" width="100" height="50"></label>
            </div>

          </div>  

        </div>
        <hr class="mb-4">
        <a role="boutton" class="btn-success btn" style="margin-right: 20%; margin-left: 40%;  margin-top: 0%; top: 0%;" (click)="followp()">Suivant</a>

      </form>
    </div>
  </div>
</div>

<div class="container" *ngIf="payment">

  <app-payment (newbackcheck)="backcheck()" [data]="order_data"></app-payment>
  
  </div>
   

