

<div class="container">
    <h6>vetements</h6>
    <img *ngFor='let item of cltobj' [src]="item.lib_img" height="100" width="100" (click)="addNewItem(item)" [id]="item.clt_id" [name]="cloth"> 
    <div class="text-center" *ngIf="loading">
      <div class="spinner-border" role="status">
      </div>
    </div>
    <ul class="pagination">
      <li class="page-item "><a class="btn page-link" (click)="previouspage()" >Previous</a></li>
      <li (click)="currentpage($event)"  class="page-item active">
        <a [id]="pages[0]" class="page-link link">
      {{pages[0]}}</a></li>
      <li (click)="currentpage($event)"  class="page-item active"><a [id]="pages[1]" class="page-link link"  >{{pages[1]}}</a></li>
      <li (click)="currentpage($event)"  class="page-item active"><a [id]="pages[2]" class="page-link link"  >{{pages[2]}}</a></li>
      
      <li class="page-item"><a class="btn page-link" (click)="nextPage()">Next</a></li>
    </ul>
    </div>
    <hr>