<app-header-partner></app-header-partner>
<body>
  <div class="container">
    <div id="boby">
      <section id="container-image">
        <div class="container-fluid">
          <div class="box-image">
            <div class="container-flex">
                <div class="images">
                  <img src="assets/image/Partenaire.png">
              </div>
            </div>
            <div class="box-text">
                <div class="text-header col-12">
                  <div class="h1-header">
                    <p class="text">Là où vos produits s'épanouissent</p> <br>
                    <span style="color: #324161;font-size: 20px;">Gagnez de l’argent en vendant vos produits ou votre marque sur l'aladin</span>
                    <br>
                    <div class="botton">
                      <a href="#" class="button">Mettre en vente sur notre marketplace</a>
                    </div>
                    <span style="color: #324161;font-weight: 700;margin: 10px;">OU</span>
                    <div class="botton">
                      <a href="/partners/register" class="button" style="width: 126.6%;">    J’ouvre ma boutique en ligne      </a>
                    </div>
                  </div>

                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- SLIDE -->

      <section id="section-slide">
        <div class="container-text">
          <div class="row">
            <div class="col-12">
              <div class="slide-produit">
                <span><img src="assets/image/favicon.png" alt=""></span>
                  <h2> N’attendez plus ! Proposez vos designs sur <br>plus de 200 produits !</h2>
                  <div class="slider-produit"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <header class="heading">
            <h2 class="title">Où souhaitez-vous mettre en vente vos designs ? <br>Choisissez le canal de vente qui correspond à vos besoins.</h2>
          </header>
          <div class="row">
            <div class="col-xl-5 test">
              <div class="col-faq-1">
                 <div style="text-align: center;padding-top: 10px;">
                 <span><img src="assets/image/favicon.png" alt=""></span>
                </div>
                <div style="color: #324161;text-align: justify;"><h3>Mettre en vente sur la marketplace signifie :</h3></div>
              </div>
              <div style="color:#324161;border: 5px solid;padding-bottom:2%;text-align: center;width: 100%;">Plus d'infos</div>
              <div class="text-faq">Mettre en vente sur notre marketplace</div>
            </div>

          <div class="col-xl-5">
              <div class="col-faq-1">
                <div style="text-align: center;padding-top: 10px;">
                      <span><img src="assets/image/favicon.png" alt=""></span>
                    </div>
                  <div style="color: #324161;text-align: center;"><h3>Gérer sa propre boutique :</h3></div>
              </div>
              <div style="color:#324161;border: 5px solid;padding-bottom:2%;text-align: center;width: 100%;">Plus d'infos</div>
              <div class="text-faq">
                 <a href="/partners/register">    J’ouvre ma boutique en ligne      </a>
              </div>
          </div>
          </div>
          </div>
      </section>

      <section>
        <div class="container">
          <div class="box">
            <div>
              <h2>Pas de risque. Pas de frais. Pas de stress.
                Nous nous occupons de tout.</h2>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>


  <section>
    <div class="row">
      <div class="col-sm-12 fin-section">
      </div>
      <div class="fin-section2">
        <div class="text-centre">
          <h2>Votre succès commence ici.
            Lancez-vous !</h2>
            <div class="botton">
              <a href="#" class="button">Mettre en vente sur notre marketplace</a>
            </div>
            <span style="color: #324161;font-weight: 700;font-size: 30px; margin: 30px;padding-top: 5px;">OU</span>
            <div class="botton">
              <a href="/partners/register" class="button" style="width: 126.6%;">    J’ouvre ma boutique en ligne      </a>
            </div>
        </div>
      </div>
    </div>
  </section>
</body>
<app-footer-dashboard></app-footer-dashboard>
