<body>



  <div class="navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul >
            <a>Contact: +2250748089885</a>
            <span class="vertical-line"></span>
            <a href="#" class="nav-link" style="color:#fab91a;">Notre entreprise</a>

          </ul>
        </div>
        <div class="col">
          <ul class="partner">

           <i  class="fa fa-handshake-o fa-2x" aria-hidden="true"style=" color: #fab91a;"></i>
           <a href="/partners/register" class="nav-link ">Devenir partenaire</a>

          </ul>
        </div>
        <div class="col faire" style="color: white;">
          <ul>

            <a href="#" class="nav-link" style="color: white;margin-left: 44px;"> Comment ça marche ?</a>
            <span class="vertical-line"></span>
            <a href="/partners/login-partner" class="nav-link con" style="color: white; "><i class="fa fa-user" aria-hidden="true"></i> Connexion</a>

          </ul>
        </div>
      </div>
    </div>
</div>

<nav>
<div class="nav">
<div class="logo">
  <img src="assets/image/logo.png" alt="">
</div>

<ul>
  <li><a href="/"><i class="fa fa-home fa-x" aria-hidden="true"></i> Acceuil</a></li>
  <li><a href="#notfound">Nos produits</a></li>
  <li><a href="#notfoud">Nos canaux de ventes</a></li>
  <li><a href="#notfoud">Nos services</a></li>
  <li><a href="/partners/register" id="bouton-nav-partner">je vends</a></li>
</ul>
<!--  -->
</div>

</nav>
</body>
