  
  
  
<app-header-up [id]="id"></app-header-up>
 <app-sidebar [id]="id"></app-sidebar>
 <app-menu [id]="id" ></app-menu>
 <div class="container-fluid" style="bottom:0;left: 0;right: 0; position: fixed;">
<!--**<app-footer></app-footer>-->
</div>