a{
    cursor: pointer;
    
}
//css top bar

.navbar{
    color: white;
    flex-wrap: nowrap;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    //position:fixed;
    width: 100%;



}
.dode{
    position: static;
    top: 0;
}
.container-fluid ul{
    float: left;
    position: relative;
    height: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    margin: 14px;





}
.partner a{
background: #fab91a;
color: #042341;
font-weight: bold;
margin-left: 15px;
top: 8px;

}
.vertical-line{
    border-left: 2px solid white;
    display:inline;
    height: 17px;
    margin: 0 6px;
    position:center;
    opacity: 75%;

}
//fin
// css de la nav bar
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
nav{
    z-index: 1;
    position:sticky;
    top:0;
   
}

nav .nav{
    display: flex;
    width: 100%;
    background:white;
    //position: sticky;
   //top:0px;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
    box-shadow: 0 0 12px;


}
img {

	max-width:100%;
	vertical-align: middle;


}
.logo img{
    max-height: 40px;
    transition: all 0.3s ease 0s;
    margin-left: 54px;
}

nav ol {
 display: flex;
 list-style: none;
 margin: auto 0;
 padding: 0 35px 4px;
 margin-right: 44px;
}
nav ol li{
    margin: 0 2px;
}
nav ol li a{
    color:#042341;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: 'poppins';
    letter-spacing: 1px;
    padding: 10px 20px;
}
nav .search_box{
    display: flex;
    margin: auto 0;
    height: 39px;
    line-height: 35px;

}
nav .search_box input{
    border: solid 2px #042341;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
    border-radius: 14px;
}

nav .search_box a{
    color: #042341;
    font-size: 20px;
    height: 100%;
    padding: 4px;
    position: relative;
    right: 43px;
    cursor: pointer;
    z-index: 1;
}
nav .search_box a::after{
    height: 100%;
    width: 0%;
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}
nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{
    position: absolute;
    color: #042341;
    font-size: 20px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;

}

.modal-content{
    border-radius: 20px;
    box-shadow: 0 5px 5px ;
    border-color: rgb(199, 189, 189);
    font-family: 'Poppins',sans-serif;
}
.modal-body{
    color:#042341;

}

form a{
    text-decoration: none;
    padding: 12px;;
}

.horizontal-line-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #D8DDEC;
  line-height: 0.1rem;
  margin: 25px 0 30px 0;

  span {
    background: white;
    padding: 0 10px;
  }
}
//fin
//mobile
@media screen and (max-width:1250px) {
    .navbar{
        display:flex;
        padding: 0;
    }
    nav {

        padding: 0;


    }
    nav .logo{
        display: inline-block;
        padding: 15px 30px;

    }
    nav .search_box{
        width: 100%;
        display: inline flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search_box input{
        width: 90%;
    }
    nav ol{
        background: #042341;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 0;
        visibility: hidden;


    }

    nav ol li{
        justify-content: center;
    }
    nav ol li a{
        color: white;
        font-size: 20px;
        padding: 25px;
        display: block;

    }
    nav .bar{
        display: block;
        position: absolute;
        top: 45px;
        left: 24px;
        cursor: pointer;

    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~ nav .bar #times{
        display:block;
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }
    #check:checked ~ nav ol{
        visibility: visible;
        height: 230px;

    }


}


//fin